.spreadsheet-table{
    overflow-y: scroll;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  thead tr {
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  
  tbody tr:first-child {
    position: sticky;
    top: 42px; /* height of thead row */
    background-color: #fff;
  }